
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SKB1282QMR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SKB1282QMR');
</script>

<meta property='twitter:title' content="Machado Lab"/>
<meta property='twitter:image' content="{{ site.url }}{{ site.baseurl }}/images/carousel/multiregion.png"/>
<meta name="twitter:card" content="summary_large_image"/>