<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-6 col-md-12">
		   <p></p>
		   <img src="{{ site.url }}{{ site.baseurl }}/images/penn-1.png" class="img-responsive" width="6%" style="float: right" />
                   <p>  <a href="https://www.med.upenn.edu/neuroscience/">Department of Neuroscience</a> | <a href="https://www.med.upenn.edu/">Perelman School of Medicine</a> | <a href="https://www.upenn.edu/">University of Pennsylvania</a> </p>
		   <p>  &copy 2025 Machado Lab | <a href="https://github.com/machado-lab-code/machado-lab-code">About this Website</a>
		   </p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
